<h1>Orders</h1>

<ul>
  <% @orders.each do |order| %>
    <li>
      <%= link_to order do %>
        <strong><%= order.id %> -- Customer: <%= order.customer_name %>, Sum: <%= order.total_sum %></strong>
      <% end %>
    </li>
  <% end %>
</ul>